version: '1.0'

services:
  deepclaude:
    image: ghcr.io/erlichliu/deepclaude:latest
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    
    restart: always # 建议添加 restart policy，确保容器意外退出后可以自动重启